html,
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
}

div {
    display: none;
}

.cbalink {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 240px;
    grid-template-areas: "header" "content" "footer";
}

.header {
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-template-rows: 1fr;
    grid-template-areas: "main menu";
    grid-area: header;
    line-height: 60px;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

a {
    text-decoration: none;
    color: #82817F;
}

.main:hover,
.menu:hover,
.download:hover,
a:hover {
    background-color: #EDECE9;
    transition: 0.3s;
}

.main {
    display: block;
    grid-area: main;
    background-color: #82817F;
    color: #363534;
    transition: 0.3s;
}

.menu {
    display: block;
    grid-area: menu;
    cursor: pointer;
    background-color: #111111;
    color: #82817F;
    transition: 0.3s;
}

.sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #82817F;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: inherit;
    color: #EDECE9;
}

.sidenav .closebtn {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.content {
    display: grid;
    height: 68.2vh;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: ". information ." ". depiction .";
    grid-area: content;
    background-color: #363534;
}

.information {
    display: grid;
    grid-area: information;
}

@media (min-width: 980px) {
    .content {
        grid-template-columns: 1fr 960px 1fr;
    }
    .information {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 60px;
        grid-template-areas: "photo characteristic" "download download";
    }
}

@media (max-width: 980px) {
    .content {
        grid-template-columns: 1fr 90% 1fr;
    }
    .information {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 60px;
        grid-template-areas: "photo" "characteristic" "download";
    }
}

.photo {
    display: block;
    grid-area: photo;
    background-color: #C2C1BE;
}

.characteristic {
    display: block;
    grid-area: characteristic;
    background-color: #FAF9F5;
}

.download {
    display: block;
    grid-area: download;
    line-height: 60px;
    transition: 0.3s;
    background-color: #111111;
}

.depiction {
    display: block;
    grid-area: depiction;
    background-color: #FAF9F5;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 60px;
    grid-template-areas: "big-footer" "small-footer";
    grid-area: footer;
}

.big-footer {
    display: block;
    grid-area: big-footer;
    background-color: #C2C1BE;
}

.small-footer {
    display: block;
    grid-area: small-footer;
    background-color: #363534;
    color: #82817F;
    line-height: 60px;
}