html,
body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 240px;
    grid-template-areas: "header" "content" "footer";
}

.header {
    display: grid;
    grid-template-rows: 1fr;
    grid-area: header;
    line-height: 60px;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: #363534;
}

a {
    text-decoration: none;
    color: #82817F;
}

.main:hover,
.menu:hover,
.download:hover,
.lang:hover,
.contact:hover,
.hobbies:hover,
.certificates:hover,
.education:hover,
a:hover {
    background-color: #EDECE9;
    transition: 0.3s;
}

.main {
    grid-area: main;
    background-color: #82817F;
    color: #363534;
    transition: 0.3s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.content {
    display: grid;
    height: 70vh;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: ". information ." ". depiction .";
    grid-area: content;
    background-color: #363534;
}

.information {
    display: grid;
    grid-area: information;
}

.photo {
    grid-area: photo;
    background-color: #C2C1BE;
}

.characteristic {
    grid-area: characteristic;
    background-color: #FAF9F5;
}

.download {
    grid-area: download;
    line-height: 60px;
    transition: 0.3s;
    background-color: #111111;
}

.depiction {
    grid-area: depiction;
    background-color: #FAF9F5;
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 60px;
    grid-template-areas: "big-footer" "small-footer";
    grid-area: footer;
}

.big-footer {
    grid-area: big-footer;
    background-color: #C2C1BE;
}

.small-footer {
    grid-area: small-footer;
    background-color: #363534;
    line-height: 60px;
}

.small-footer span {
    color: #82817F;
}
