@media (max-width: 980px) {
    .photo img {
        padding: 8px 8px 2px 8px;
    }
    a {
        height: auto;
    }
    .content {
        grid-template-columns: 1fr 90% 1fr;
    }
    .information {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 60px;
        grid-template-areas: "left" "characteristic" "download";
    }
    .header {
        grid-template-columns: 1fr 60px;
        grid-template-areas: "main menu";
    }
    .menu {
        grid-area: menu;
        cursor: pointer;
        background-color: #101010;
        color: #808080;
        transition: 0.3s;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #101010;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidenav a {
        display: block;
        padding: 8px 18.845px;
        text-decoration: none;
        color: #808080;
        transition: 0.3s;
    }
    .sidenav a:hover {
        background-color: inherit;
        color: #E0E0E0;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 36px;
    }
    .lang {
        display: none;
    }
    .contact {
        display: none;
    }
    .hobbies {
        display: none;
    }
    .certificates {
        display: none;
    }
    .education {
        display: none;
    }
    .rotate {
        font-size: 72px;
        text-transform: uppercase;
    }
}


/* @media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
} */