@media (min-width: 980px) {
    .photo img {
        padding: 8px;
    }
    a {
        padding: 0 4px;
        height: 60px;
    }
    .lang a {
        padding: 0;
    }
    .content {
        grid-template-columns: 1fr 960px 1fr;
    }
    .information {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 60px;
        grid-template-areas: "left characteristic" "download download";
    }
    .header {
        grid-template-columns: 180px 1fr auto auto auto auto 60px;
        grid-template-areas: "main . education certificates hobbies contact lang";
    }
    .menu {
        display: none;
    }
    .sidenav {
        display: none;
    }
    .lang {
        grid-area: lang;
        line-height: normal;
    }
    .contact {
        grid-area: contact;
    }
    .hobbies {
        grid-area: hobbies;
    }
    .certificates {
        grid-area: certificates;
    }
    .education {
        grid-area: education;
    }
    .side {
        position: relative;
        width: 64px;
    }
    .rotate {
        transform-origin: 0 0;
        transform: rotate(90deg);
        font-size: 72px;
        text-transform: uppercase;
        line-height: 0;
        position: absolute;
        top: 8px;
        left: 32px;
    }
}